
.AccHolders{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
    visibility: hidden;
    opacity: 0;
    cursor: default;
}

.accHoldersWindow{
    height: 500px;
    width: 600px;
    background-color: rgb(255, 255,255);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, .5);
}

.shadowContainer1{
    height: 485px;
    width: 590px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.clientInfoTitle{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid black;
    /* box-shadow: 0px 6px 140px -30px rgba(0,0,0,.8); */
    /* background-image: linear-gradient(rgb(255, 82, 82),rgb(255, 100, 100),rgb(255, 150, 150)); */
    background-color: rgb(255, 82, 82);
    color: white;
    font-size: 30px;

    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.accHolderList{
    height: 65%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 20px;
    gap:2%;
}

.headerTitles{
    width: 100%;
    margin:0px;
    padding: 2% 0px;
    border-bottom: 2px solid rgba(0,0,0,.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-size: 25px;
    text-wrap: nowrap;
}

.accountsContainer{
    height: 70%;
    width: 100%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex;
    align-content: center;
    overflow-y: auto;
}

.namesAndBalances{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-wrap: nowrap;

}

.namesAndBalances div{
    border-bottom: 2px solid rgba(0,0,0,.2);
    padding: 5%;
    width: 100%;
    height: 100%;
    line-break:anywhere;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}


.closeAccHolderWindow{
    background-image: url("https://miro.medium.com/v2/resize:fit:1358/1*vhoE-Yw2HgrlScZmR_L1zA.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 15%;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button{
    padding: 3% 10%;
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border: none;
    background-color: rgb(255, 82, 82);
    color: white;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    background: rgba(255, 108, 108, 0.98);
    color:rgb(255, 255, 255);
    transition: .5s;
    -webkit-transition: .5s;
  }


@media (max-width:700px){
    .accHoldersWindow{
        height: 400px;
        width: 450px;
    }
    .shadowContainer1{
        height: 385px;
        width: 440px;
    }
    
    .clientInfoTitle{
        font-size: 23px;
    }
    
    .headerTitles{
        font-size: 23px;
    }
    .accountsContainer{
        padding-top: 1%;
    }
    input{
        font-size: 17px;
    }
    }

@media (max-width:500px){
    .accHoldersWindow{
        height: 300px;
        width: 350px;
    }
    .shadowContainer1{
        height: 285px;
        width: 340px;
    }
    
    .clientInfoTitle{
        font-size: 20px;
    }
    
    .headerTitles{
        font-size: 18px;
    }

    .namesAndBalances{
        line-break:anywhere;
        text-wrap: wrap;
        font-size: 10px;
    }
    .namesAndBalances div{
        font-size: 15px;
    }
    .addUserButton{
        margin-top: 3%;
    }

    button{
        padding: 1% 8%;
        font-size: 17px;
    }
}

@media (max-width:400px){
    .accHoldersWindow{
        height: 200px;
        width: 250px;
    }
    .shadowContainer1{
        height: 185px;
        width: 240px;
    }
    
    .clientInfoTitle{
        font-size: 17px;
    }
    
    .accHolderList{
        padding-top: 3%;
    }
    
    .headerTitles{
        font-size: 15px;
    }    
    
    .namesAndBalances{
        font-size: 15px;
    }


    button{
        margin: 3px;
        padding: .5% 5%;
        font-size: 13px;
    }
}


@media (max-height:700px){
    .accHoldersWindow{
        height: 400px;
        width: 450px;
    }
    .shadowContainer1{
        height: 385px;
        width: 440px;
    }
    
    .clientInfoTitle{
        font-size: 23px;
    }
    
    .headerTitles{
        font-size: 20px;
    }

    
    input{
        font-size: 17px;
    }
}

@media (max-height:500px){
    .accHoldersWindow{
        height: 300px;
        width: 350px;
    }
    .shadowContainer1{
        height: 285px;
        width: 340px;
    }
    
    .clientInfoTitle{
        font-size: 20px;
    }
    
    .headerTitles{
        font-size: 1rem;
    }
    .accountsContainer{
        text-wrap: wrap;
    }
    .namesAndBalances{
        padding-top: 1%;
    }

    button{
        padding: 1% 8%;
        font-size: 17px;
    }
}