.expenseButtons{
  margin: 0px;
  margin-left: 15px;
  font-size: 15px;
  padding: 2px 2px;
  width: 10%;
  height: 90%;
  background: rgb(254, 82, 82);
  box-shadow: 0px 0px 0px rgba(0,0,0,.8);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  text-wrap: nowrap;
  font-weight: 600;

}.expenseDiv1{
  margin-left: 50px;
}

.expenseDiv2{
  margin-right: 5pxs;
}


.expenseInput {
  outline: none;
  width: 30%;
  font-size: 15px;
  padding: 10px 10px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px rgb(161, 160, 160) solid;
  transition: 0.5s;
}

.expenseInput:focus{
box-shadow: 2px 5px 8px 2px rgb(172, 170, 169);
}

.expenseInput::-webkit-outer-spin-button,.expenseInput::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.expenseButtons:hover{
  background: rgba(255, 108, 108, 0.999);
  color:rgb(255, 255, 255);
  transition: .5s;
}

.addExpense{
  padding: 10px 10px;
  margin-bottom: 0px;
}

.addBudgt{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 25px;
}

.addBudgt input{
  outline: none;
  width: 55%;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px rgb(161, 160, 160) solid;
  transition: 0.5s;
}

.addBudgt input:focus{
  box-shadow: 2px 5px 8px 2px rgb(172, 170, 169);
}

.addBudgt input::-webkit-outer-spin-button,.addBudgt input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.addBudgtButton{
  margin: 0px;
  margin-left: 15px;
  font-size: 14px;
  padding: 2px 2px;
  width: 11%;
  height: 90%;
  background: rgb(254, 82, 82);
  border-radius: 4px;
  border: none;
  outline: none;
  color:white;
  font-weight: 600;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .7);
}