.mainContainer{
    margin: auto;
    width: 900px;
    background-color: rgb(250, 250, 250);
    color:rgb(80, 78, 78);
    border:  2px solid rgba(73, 72, 72, 0.325);
    box-shadow: 0 0 10px rgba(176, 165, 165, 0.999);
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    cursor: default;
  }
  
.containerTitle{
  text-align: center;
  padding: 30px 40px;
  font-weight: 700;
  color: rgb(254, 82, 82);
}

.adbtDiv{
  display: flex;
  justify-content: right;
  padding: 10px 20px;
  width: 100%;
  position: relative;
}

.adminButton::before{
  content: "Add Account Holder";
  height: 35px;
  position: absolute;
  font-size: 16px;
  text-wrap: nowrap;
  color:white;
  background-color: rgba(0,0,0,.5);
  transform: translateX(-185px) ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  opacity: 0;
}
.adminButton:hover::before{
  opacity: 1;
  transition: 1s;
}
  



.adminButton{
  background: rgb(254, 82, 82);
  margin-right: 4%;
  padding: 10px;
  width: 8%;
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  color:white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.manualDisplay{
  display: block;
}


.userInfo{
  width:97%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
}
  
.accountManager{
  padding-left: 5%;
  margin: 0px;
  text-align: center;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex: 1;
}
.accountManager h6{
  color: rgb(254, 82, 82);
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.accountUser{
  padding-right: 5%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  flex: 1;
}
.accountUser h6{
  color: rgb(254, 82, 82);
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}



.userDetail3{
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  width: 60%;
  height: 180px;
  background-image: linear-gradient( to right, rgb(255, 255, 255), rgb(255, 200, 200));
  box-shadow: 1px -3px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;

  align-content: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.displayBalance{
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: flex-start;
  flex: 1;
}

.personalBalance{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
}
.personalBalance i{
  height: 40px;

  font-size: 30px;
  color: rgba(0,0,0,.5);
  padding-inline: 3%;
  border-radius: 30px;
  align-content: center;
}
.personalBalance i:hover{
  background-color: rgba(4,4,4,.1);
  transition: .3s ease-in-out;
}

.viewAccHolderToolTip{
  height: 35px;
  position: absolute;
  padding: 5px;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  color: white;
  transform: translateX(-45px) translateY(0px);
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-wrap: nowrap;
}



.personalBalance h2{
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}


.overallBalance{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  text-wrap: nowrap;
  font-style: italic;
}

.overallBalance h6{
  font-weight: normal;
}

.cardDesign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex: 1;
}

.avionBankLogo{
  width: 100%;
  display: flex;
  align-content: center;
  align-items: flex-start;
}

.avionBankLogo img{
  width:80%;
}

.goldChip{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.goldChip img{
  padding-left:15%;
  padding-bottom: 5%;
  width: 50%;
  height: 65%;
}

.btDiv{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: 100px;
  margin: 20px 0px;
  gap: 2%;
}
  
.buttons{
  margin: 0px;
  padding: 4%;
  width: 25%;
  height: 90%;
  background: rgb(254, 82, 82);
  box-shadow: 2px 2px 10px rgba(0,0,0,.8);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  text-wrap: nowrap;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  
.buttons:hover{
  background: rgba(255, 108, 108, 0.999);
  color:rgb(255, 255, 255);
  transition: .5s;
  -webkit-transition: .5s;
}
 
.adminButton:hover{
  background: rgba(255, 108, 108, 0.999);
  color:rgb(255, 255, 255);
  transition: .5s;
  -webkit-transition: .5s;
}


.expenseTab{
  width:97%;
  padding:10px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-bottom: 30px;
}


.deleteExpenseButtons{
  margin: 0px;
  margin-left: 10px;
  font-size: 8px;
  padding: 2px 8px;
  width: 6%;
  height: auto;
  background: rgb(254, 82, 82);
  box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.8);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  text-wrap: nowrap;
  font-weight: 600;
  padding: 5px 5px;
}

.expenseItems{
  width:97%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 50px;
}

.expenseItems span{
  margin-left:25px;
}


  
@media (max-width: 900px) {
  .mainContainer{
    width: 700px;
    height: 680px;

  }

  .userDetail3{
    width: 70%;
  }
  

  .goldChip{
    width:90%;
    height: 70%;
    align-items: center;
  }

}
  
@media (max-width: 700px){
    .mainContainer{
      padding: 20px 20px;
    height: 550px;
    max-width: 520px;
    margin: auto;
  }
  .containerTitle{
    padding: 0;
    padding-bottom: 5%;
  }
  .userInfo{
    padding-bottom: 5%;
  }

  .adminButton{
    margin-right: 4%;
    padding: 5px 10px;
    width: 10%;
  }

  .accountManager h6{
    font-size: .9rem;
  }
  .accountUser h6{
    font-size: .9rem;
  }

  .userDetail3{
    padding: 15px;
    width: 80%;
    height: 600px;
    margin-bottom: 15px;
  }

  .cardDesign{
    display: flex;
    justify-content: flex-start;
    gap: 15%;
  }
  .goldChip{
    height: 80px;
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
  }
  .goldChip img{
    padding-left: 20%;
    width: 70px;
    height: 50px;
  }
  .personalBalance i{
    font-size: 1.5rem;
    gap:10%;
  }

  .personalBalance h2{
    font-size: 25px;
  }

  .overallBalance h6{
    font-size: .85rem;
    margin: 0px;
  }
    
  .buttons{
    width: 30%;
    height:90px;
    font-size: 15px;
  }

  .personalBalance{
    font-size: 20px;
  }
}
  
  
@media (max-width: 550px){
  .mainContainer{
    height: 480px;
    width: 440px;
    margin: auto;
    padding: 15px 15px;
  }
  .buttons{
    height:80px;
  }

  .containerTitle{
    padding-bottom: 0px;
    margin:0px;
  }
  .userInfo{
    margin: 0px;
  }
  .userDetail3{
    height: 135px;
    width: 250px;
    margin: 0px 5px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 5px 10px;
  }
  .addAccountUserTooltip{
    font-size: 14px;
  }

  .adminButton{
    margin-right: 4%;
    padding: 5px 10px;
    width: 11%;
  }
  .personalBalance h2{
    font-size: 23px;
  }
  .overallBalance h6{
    font-weight: normal;
    font-size: 13px;

  }
  .cardDesign{
    justify-content: flex-start;
  }
  .goldChip{
    height: 80px;
    width: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .goldChip img{
    margin-top: 0%;
    padding-left: 15px;
    width: 45px;
    height: 25px;
  }
  
  .viewAccHolderToolTip{
    padding: 0px;
  }

  .avionBankLogo img{
    width:100%;
    margin-bottom: 0%;
  }

  .btDiv{
    margin: 0px;
    margin-top: 20px;

  }
  
}
  
  
@media (max-width: 450px){
  .mainContainer{
    height: 330px;
    width: 300px;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
  }

  .userDetail3{
    padding: 10px 10px;
    border-radius: 5px;
    height: 120px;
    width: 210px;
  }

  .adbtDiv{
    padding: 0px 10px;
  }
  .addAccountUserTooltip{
    padding: 2px;
    transform: translateX(60px) translateY(50px);
    font-size: 14px;
    z-index: 999;
    padding-inline: 5px;
  }
  .adminButton{
    background: rgb(254, 82, 82);
    margin-right: 4%;
    width: 12%;
    border-radius: 8px;
  }
  .adminButton{
    background: rgb(254, 82, 82);
    margin-right: 4%;
    padding: 0px;
    width: 12%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    color:white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .userInfo{
    padding:0px;
  }


  .accountManager h6{
    font-size: .7rem;
  }
  .accountUser h6{
    font-size: .72rem;
  }

  .displayBalance h2{
  font-size: 15px;
  }

  .overallBalance h6{
font-size: 10px;
  }

  .goldChip{
    width: 60px;
  }


  .btDiv{
    margin:10px;
    height: 50px;
  }
  

  .Withdraw{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  
  .Deposit{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  
  .Transfer{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  

}



@media (max-height: 700px) {

  .mainContainer{
    padding: 20px 20px;
  height: 550px;
  max-width: 520px;
  margin: auto;
}
.containerTitle{
  padding: 0;
  padding-bottom: 5%;
}
.userInfo{
  padding-bottom: 5%;
}

.adminButton{
  margin-right: 4%;
  padding: 5px 10px;
  width: 10%;
}

.accountManager h6{
  font-size: .9rem;
}
.accountUser h6{
  font-size: .9rem;
}

.userDetail3{
  padding: 15px;
  width: 80%;
  height: 600px;
  margin-bottom: 15px;
}

.cardDesign{
  display: flex;
  justify-content: flex-start;
  gap: 15%;
}
.goldChip{
  height: 80px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
}
.goldChip img{
  padding-left: 20%;
  width: 70px;
  height: 50px;
}
.personalBalance i{
  font-size: 1.5rem;
  gap:10%;
}

.personalBalance h2{
  font-size: 25px;
}

.overallBalance h6{
  font-size: .85rem;
  margin: 0px;
}
  
.buttons{
  width: 30%;
  height:90px;
  font-size: 15px;
}

.personalBalance{
  font-size: 20px;
}
}


@media (max-height: 600px) {
  .mainContainer{
    height: 480px;
    width: 440px;
    margin: auto;
    padding: 15px 15px;
  }
  .buttons{
    height:80px;
  }

  .containerTitle{
    padding-bottom: 0px;
    margin:0px;
  }
  .userInfo{
    margin: 0px;
  }
  .userDetail3{
    height: 135px;
    width: 250px;
    margin: 0px 5px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 5px 10px;
  }
  .addAccountUserTooltip{
    font-size: 14px;
  }

  .adminButton{
    margin-right: 4%;
    padding: 5px 10px;
    width: 11%;
  }
  .personalBalance h2{
    font-size: 23px;
  }
  .overallBalance h6{
    font-weight: normal;
    font-size: 13px;

  }
  .cardDesign{
    justify-content: flex-start;
  }
  .goldChip{
    height: 80px;
    width: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .goldChip img{
    margin-top: 0%;
    padding-left: 15px;
    width: 45px;
    height: 25px;
  }
  
  .viewAccHolderToolTip{
    padding: 0px;
  }

  .avionBankLogo img{
    width:100%;
    margin-bottom: 0%;
  }

  .btDiv{
    margin: 0px;
    margin-top: 20px;

  }
    
}


@media (max-height:700px) and (max-width:450px){
  .mainContainer{
    height: 330px;
    width: 300px;
    margin: auto;
    padding: 0px;
    justify-content: space-between;
  }

  .userDetail3{
    padding: 10px 10px;
    border-radius: 5px;
    height: 120px;
    width: 210px;
  }

  .adbtDiv{
    padding: 0px 10px;
  }
  .addAccountUserTooltip{
    padding: 2px;
    transform: translateX(60px) translateY(50px);
    font-size: 14px;
    z-index: 999;
    padding-inline: 5px;
  }
  .adminButton{
    background: rgb(254, 82, 82);
    margin-right: 4%;
    width: 12%;
    border-radius: 8px;
  }
  .adminButton{
    background: rgb(254, 82, 82);
    margin-right: 4%;
    padding: 0px;
    width: 12%;
    box-shadow: 5px 5px 5px rgba(0,0,0,.4);
    color:white;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .userInfo{
    padding:0px;
  }


  .accountManager h6{
    font-size: .7rem;
  }
  .accountUser h6{
    font-size: .72rem;
  }

  .displayBalance h2{
  font-size: 15px;
  }

  .overallBalance h6{
font-size: 10px;
  }

  .goldChip{
    width: 60px;
  }


  .btDiv{
    margin:10px;
    height: 50px;
  }
  

  .Withdraw{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  
  .Deposit{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  
  .Transfer{
    width: 27%;
    height: 45px;
    font-size: 10px;
  }  
}


  /* @media   (max-width: 1200px) and (max-height: 800px) {
    .mainContainer{

      height: 500px;
      width: 600px;
    }
    .containerTitle{
      padding: 0;
      margin: 0;
    }
    .userInfo{
      padding: 0px;
    }
  
    .userDetail3{
      margin-top: 5%;
  
    }
    
  
    .accountManager h6{
      font-size: .9rem;
    }
  
    .adbtDiv{
      padding:5px 10px;
    }
    .adminButton{
  
      border-radius: 5px;
      padding: 2px;
      width: 7%;
    }
    .personalBalance h2{
      font-size: 23px;
    }
    .overallBalance h6{
      font-weight: normal;
      font-size: 13px;
    }
    .goldChip img{
      width: 45%;
      height: 80%;
    }
      .goldChip img{
    margin-top: 0%;
    padding-left: 25%;
    width: 50%;
    height: 30%;
  }
    .avionBankLogo img{
      width:80%;
      margin-bottom: 5%;
    }
    .buttons{
      height:80px;
    }
  } */

  

  /* @media (max-width: 550px) and (max-height: 815px){
    .mainContainer{
      height: 500px;
      width: 440px;
      margin: auto;
      padding-inline: 40px;
    }
    .userDetail3{

      padding: 15px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      box-shadow: 1px -3px 10px;
    }

    .buttons{
      height:80px;
    }

    .addAccountUserTooltip{
      font-size: 14px;
    }
  
    .adminButton{
      margin-right: 4%;
      padding: 5px 10px;
      width: 11%;
    }
    .personalBalance h2{
      font-size: 23px;
    }
    .overallBalance h6{
      font-weight: normal;
      font-size: 13px;
  
    }
    .goldChip{
      align-items: flex-start;
    }
    .goldChip img{
      margin-top: 8%;
      padding-left:15%;
      width: 50%;
      height: 75%;

    }
    .avionBankLogo img{
      width:80%;
      margin-bottom: 5%;
    }
  }


 @media (max-width: 550px) and (max-height: 815px){
  .mainContainer{
    height: 400px;
    width: 350px;
    margin: auto;
    padding-inline: 40px;
  }

  .userDetail3{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 5px 10px;
  }
  .userDetail3{
    margin-bottom: 0px;
    padding: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 1px -3px 10px;
  }

  .buttons{
    height:80px;
  }

  .addAccountUserTooltip{
    font-size: 14px;
  }

  .adminButton{
    margin-right: 4%;
    padding: 5px 10px;
    width: 11%;
  }
  .personalBalance h2{
    font-size: 23px;
  }
  .overallBalance h6{
    font-weight: normal;
    font-size: 13px;
  }

  .goldChip{
    align-items: flex-start;
  }
  .goldChip img{
    margin-top: 8%;
    padding-left:15%;
    width: 50%;
    height: 75%;
    }

  .avionBankLogo img{
    width:80%;
    margin-bottom: 5%;
  }

  .Withdraw{
    height:70px;
  }

  .Deposit{
    height:70px;
  }

  .Transfer{
    height:70px;
  }

}
 */


    