.withdrawPage{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
    visibility: hidden;
    opacity: 0;
    cursor: default;
}

.withdrawWindow{
    height: 500px;
    width: 600px;
    background-color: rgb(255, 255,255);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0, .5);
}

.containerShadow2{
    height: 485px;
    width: 590px;

    /* background-image: linear-gradient(rgba(0,0,0,.3), white); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.withdrawTitle{

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid black;
    /* box-shadow: 0px 6px 140px -30px rgba(0,0,0,.8); */
    /* background-image: linear-gradient(rgb(255, 82, 82),rgb(255, 100, 100),rgb(255, 150, 150)); */
    background-color: rgb(255, 82, 82);
    color: white;
    font-size: 30px;

    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.withdrawFieldDisplay{
    height: 65%;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap:1%;
    font-size: 20px;
}

.withdrawQuestion{

    width: 100%;
    margin:0px;
    padding: 2% 0px;
    border-bottom: 2px solid rgba(0,0,0,.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-size: 25px;
    text-wrap: nowrap;
}
.accHolderNameWithdraw{
    width: 100%;
    font-size: 25px;
    font-style: italic;
    font-weight: 370;
}

.withdrawField{

    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    z-index: 999;
}

.withdrawField::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.tenor.com/bSSKD2C5M1kAAAAj/money-money-rain.gif");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.labelsAndInputsWithdraw{
    border-bottom: 2px solid rgba(0,0,0,.2);
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}


.depositLabelsWithdraw{
    width: 40%;
    margin:0px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-direction: column;
    font-size: 20px;
}

.withdrawInput{
    width: 60%;
    padding-left: 5%;
    background-color: rgba(0,0,0,0);
    height: 100%;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 15%;

}

input{
    border-radius: 30px;
    border: none;
    height: 20%;
    width: 85%;
    text-align: center;
    font-size: 25px;
}
.personalAvailBalWithd{
    width: 100%;
    font-size: 25px;
    font-style: italic;
}
.personalBalWithdraw{
    width: 100%;
    font-style: italic;
}


.withdrawButton{
    background-image: url("https://miro.medium.com/v2/resize:fit:1358/1*vhoE-Yw2HgrlScZmR_L1zA.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 15%;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button{
    padding: 3% 10%;
    border-radius: 35px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.7);
    border: none;
    background-color: rgb(255, 82, 82);
    color: white;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    background: rgba(255, 108, 108, 0.98);
    color:rgb(255, 255, 255);
    transition: .5s;
    -webkit-transition: .5s;
  }


@media (max-width:700px){
    .withdrawWindow{
        height: 400px;
        width: 450px;
    }
    .containerShadow2{
        height: 385px;
        width: 440px;
    }
    
    .withdrawTitle{
        font-size: 23px;
    }
    
    .withdrawFieldDisplay{
        padding-top: 8%;
    }
    
    .withdrawQuestion{
        font-size: 23px;
    }
    
    input{
        font-size: 17px;
    }
    }

@media (max-width:500px){
    .withdrawWindow{
        height: 300px;
        width: 350px;
    }
    .containerShadow2{
        height: 285px;
        width: 340px;
    }
    
    .withdrawTitle{
        font-size: 20px;
    }
    
    .withdrawFieldDisplay{
        padding-top: 5%;
    }
    
    .withdrawQuestion{
        font-size: 18px;
    }

    .withdrawButton{
        margin-top: 3%;
    }

    button{
        padding: 1% 8%;
        font-size: 17px;
    }
}

@media (max-width:400px){
    .withdrawWindow{
        height: 200px;
        width: 250px;
    }
    .containerShadow2{
        height: 185px;
        width: 240px;
    }
    
    .withdrawTitle{
        font-size: 17px;
    }
    
    .withdrawFieldDisplay{
        padding-top: 3%;
    }
    
    .withdrawQuestion{
        font-size: 15px;
    }


    button{
        margin: 3px;
        padding: .5% 5%;
        font-size: 13px;
    }
}


@media (max-height:700px){
    .withdrawWindow{
        height: 400px;
        width: 450px;
    }
    .containerShadow2{
        height: 385px;
        width: 440px;
    }
    
    .withdrawTitle{
        font-size: 23px;
    }
    
    .withdrawFieldDisplay{
        padding-top: 8%;
    }
    
    .withdrawQuestion{
        width: 38%;
        font-size: 20px;
    }
    
    input{
        font-size: 17px;
    }
}

@media (max-height:500px){
    .withdrawWindow{
        height: 300px;
        width: 350px;
    }
    .containerShadow2{
        height: 285px;
        width: 340px;
    }
    
    .withdrawTitle{
        font-size: 20px;
    }
    
    .withdrawFieldDisplay{
        padding-top: 5%;
    }
    
    .withdrawQuestion{
        width: 38%;
        font-size: 18px;
    }


    button{
        padding: 1% 8%;
        font-size: 17px;
    }
}