.loginPage{
    background-image: linear-gradient( rgb(255, 255, 255), rgb(255, 200, 200));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.loginCreditials {
    border-radius: 30px;
    height: 420px;
    width: 700px;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 40px;
}

.loginTitle{
    font-size: 180%;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color:rgb(80, 78, 78);
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.loginForm input{
    background-color: rgb(250,250,250);
    border: 0px;
    border-radius: 20px;
    font-size: 140%;
    height: 40px;
    width: 500px;
    margin: 10px 0px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}

.login{
    padding: 10px 220px;
    margin: 1%;
    color: white;
    background-color: rgb(254, 82, 82); 
    border-radius: 30px;
    box-shadow: 15px 15px 10px rgba(0,0,0,.3);
    font-size: 130%; 
    text-wrap: nowrap;
    border: 0px;
}


.login:hover{
    cursor: pointer;
    background: rgba(255, 108, 108, 0.999);
    transition: .5s;
    -webkit-transition: .5s;
}

.noAccount{
    display: flex;
    gap: 5px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.noAccountSignUp{
    color: rgb(180,65,55);
    text-decoration: underline;
}
.noAccountSignUp:hover{
    cursor: pointer;
}

@media (max-width:800px){
    .loginCreditials{
        width: 600px;
        justify-content: center;
    }
}
@media (max-width:600px){
    .loginCreditials{
        width: 500px;
        justify-content: center;
    }
    .loginForm input{
        width: 400px;
    }
    .login{
        padding: 10px 170px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
    } 
}

@media (max-width:500px){
    .loginCreditials{
        margin-top: 25%;
        width: 400px;
        justify-content: center;
    }
    .loginTitle{
        font-size: 160%;
    }
    .loginForm input{
        width: 360px;
        font-size: 120%;
    }
    .login{
        padding: 10px 150px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
        font-size: 120%; 
    }
}

@media (max-width:400px){
    .loginCreditials{
        margin-top: 25%;
        width: 340px;
        justify-content: center;
    }
    .loginTitle{
        font-size: 160%;
    }
    .loginForm input{
        width: 310px;
        font-size: 105%;
    }
    .login{
        padding: 10px 130px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
        font-size: 105%; 
    }
}

@media (max-width:350px){
    .loginCreditials{
        margin-top: 25%;
        width: 310px;
        justify-content: center;
    }
    .loginTitle{
        font-size: 160%;
    }
    .loginForm input{
        width: 290px;
        font-size: 90%;
    }
    .login{
        padding: 10px 130px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
        font-size: 90%; 
    }
}

@media (max-width:350px){
    .loginCreditials{
        margin-top: 35%;
        width: 280px;
        justify-content: center;
    }
    .loginTitle{
        font-size: 150%;
    }
    .loginForm input{
        width: 260px;
        font-size: 90%;
    }
    .login{
        padding: 10px 110px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
        font-size: 90%; 
    }
}


@media (max-height:700px){
    .loginCreditials{
        margin-top: 0%;
        width: 340px;
        justify-content: center;
    }
}

@media (max-height:500px){
    .loginCreditials{
        margin-top: 0%;
        width: 340px;
        justify-content: center;
    }
    .loginTitle{
        font-size: 160%;
    }
    .loginForm input{
        width: 310px;
        font-size: 105%;
    }
    .login{
        padding: 10px 130px;
        box-shadow: 5px 10px 10px rgba(0,0,0,.3);
        font-size: 105%; 
    }
} 


