.contactUs{
    z-index: 999;
    max-width: 100%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(254, 82, 82);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}   
.contactUs p{
  margin: .6%;
}